footer {
    padding: 30px 0;
    text-align: center;
    background-color: #121F1F;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 1.4px;
}

footer h1 {
    margin: 0 0 15px;
    font-size: 24px;
    font-family: 'Quando', serif;
    color: #28A;
    letter-spacing: 1.5px;
}

footer li {
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Poly', serif;
    color: #F8F8F8;
}

footer li a {
    padding: 8px;
    font-size: 16px;
    font-family: 'Poly', serif;
    text-decoration: none;
    color: #F8F8F8;
    display: inline-block;
}

footer li a:hover {
    color: #28A;
}

footer li > span::after {
    content: "|";
    margin-left: 8px;
    display: inline;
}

@media only screen and (max-width: 979px) {
    footer li {
        margin-top: 30px;
    }

    footer li a {
        padding: 15px 8px;
    }

    footer li > span::after {
        content: "";
        width: 80px;
        height: 2px;
        background-color: currentColor;
        margin: 15px auto 0;
        display: block;
    }
}

@media only screen and (max-width: 739px) {
    footer h1 {
        font-size: 18px;
    }

    footer h1::after {
        margin: 30px auto 15px;
    }

    footer .col-4 {
        width: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}