.Main {
    min-height: 600px;
    padding: 60px 0;
}

.Main h1 {
    font-family: "Quando", serif;
    font-size: 24px;
    color: rgba(18, 31, 31, 0.2);
}

.Main h1::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-top: 6px;
    background-color: currentColor;
    display: block;
}

@keyframes carregar {
    from {
        background-color: #6AF;
	}
	to {
        background-color: #28A;
	}
}

.Main .box-anima {
    width: 120px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-evenly;
}

.Main .box-anima .bolinha-anima {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(102, 170, 255, 0.6);
    animation: carregar 0.8s infinite;
}



.Main .box-anima > .bolinha-anima:nth-child(2) {
    animation-delay: 0.3s;
}

.Main .box-anima > .bolinha-anima:nth-child(3) {
    animation-delay: 0.6s;
}

@media only screen and (max-width: 739px) {
    .Main h1 {
        margin-bottom: 0;
    }
}